<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@2.51.6/dist/full.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
        
    </style>
</head>

<body>
    <main class="flex w-full h-[100vh] bg-black ">
        <div class="container mx-auto max-w-screen-md flex flex-col">
            <div id="messages-list" class="p-10 flex-1 h-full max-h-full overflow-auto">

                <div id="preview-msg" class="chat chat-end py-8">
                    <div class="chat-bubble bg-[#4980d3]">
                        <div id="preview-msg-typewriter">
                            Нажмите на значок микрофона чтобы начать говорить
                        </div>
                    </div>
                </div>

                <div id="user-msg" class="chat chat-start py-8 hidden">
                    <div class="chat-bubble">
                        <div id="user-msg-typewriter"></div>
                    </div>
                </div>

                <div id="bot-msg" class="chat chat-end py-8 hidden">
                    <div class="chat-bubble">
                        <div id="bot-msg-typewriter"></div>
                    </div>
                </div>

            </div>

            <div class="shrink-0 h-[450px] w-full flex justify-center items-center relative">
                <button id="btn-speak" type="button" class="absolute w-[100px] hover:scale-125 ease-in-out duration-300">
                    <img src="static/img/btn-speak.png" alt="">
                </button>
                <div id="wave-speak" class="w-full max-w-[600px] h-full hidden">
                    <img class="w-full" src="static/img/wave-speak.gif" alt="">
                </div>
            </div>
        </div>
    </main>
    <script type="text/javascript" src="static/main.js"></script>
</body>

</html>